<footer class="bg-white shadow dark:bg-gray-900 w-full">
    <div class="w-full max-w-screen-xl mx-auto p-2 md:py-4">
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <span class="block text-sm text-gray-500 text-center sm:text-center dark:text-gray-400">
        © 2024 <a href="https://www.linkedin.com/in/igor-pierre-miranda/" class="hover:underline">Igor Pierre Miranda™</a><br> It would be a pleasure to be part of your team
      </span>
    </div>
  </footer>